*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*-- DIRECT TOP BUTTON CSS--*/ 

    .scroll-top{
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 99;
        background: white;
        color: black;
        border-radius: 30px;
        padding: 10px;
        font-weight: bold;
        line-height: normal;
        border: 2px solid #FF6238;
        cursor: pointer;
        outline: none;
    }
/*--- NAVBAR CSS--*/

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Lora', serif;
  background-color: #FF6238;  
}

.logo img{
  height: 150px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 18px;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #fff;
  font-family: 'Lora', serif;
  background-color: inherit;   
  margin: 0; 
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a PEACH background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FEDCD2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;  
}

 /* Social icons */
.social {
  display: flex;  
}

.social li {
  list-style: none;
}

.social li a {
  width: 45px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}
.social li a:hover:before {
  top: 0;
}

.social li:nth-child(1) a:before{
  background: #3b5999;
}

.social li:nth-child(2) a:before{
  background: #DD2A7B;
}

.social li:nth-child(3) a:before {
  background: #00ACEE;
}

.social li:nth-child(4) a:before {
  background: #0E76A8;
}

@media screen and (max-width:1024px){

  .nav-links{
  
  width: 40%;
  }
}

@media screen and (max-width:768px){

  body{
    overflow-x: hidden;
  }
  nav{
    display: flex;
  }
  .nav-links{
    width: 50%;
  } 
  .social{
    display: flex;          
  } 
}

/* MAIN CYBERSECURITY IMAGE CSS */

#cybersecurity{
  
  position: relative;
  width: 100%;
 
  
}
.cybersecurity-image{
  width: 100%;
  height: 700px;
  align-items: center;
}

.cybersecurity-button{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff ;
  color: #000000;
  font-size: 30px;
  padding: 19px 40px;
  border: 4px solid #209EBB;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
}

/* Add a blue background color and white text to button on hover */
.cybersecurity-button:hover{  
  background-color: #209EBB;
  color: #fff;
}

/* -----------TYPES OF CYBER SECURITY AND CYBER THREAT SECTION-----------*/

#buttons1 * {
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#buttons1 {  
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.buttonFrame {
  cursor: pointer;
  width: 24.5%;
  overflow: hidden;
  position: relative;
}

.buttonFrame.medium {
  width: 50%;
  height: 690px;
}

.buttonFrame.large {
  width: 50%;
}

.buttonFrame:nth-child(-n+2) {
  margin-bottom: 10px;
}

.buttonFrame img {
  width: 100%;
  height: 690px;
  display: block;
}

.bttnText {
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
/*  text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);*/
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bttnText span {
  border: 2px solid #fff;
  padding: 10px 25px;
}

.bttnText .cyberHeading {
  font-size: 1.6em;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 15px;
  border: 0px;
}

.cyber-text {
  font-family: inherit;
  font-size: 1.4em;
  line-height:1.35em;
  text-transform: none;
  padding: 0 50px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.cyber-text p {
  display: block;
  width: 100%;
  max-width: 100%;
}
 /*IF YOU WANT THE BUTTON, UNCOMMENT */

/*.bttnText a {
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 25px;
  margin-top: 15px;
} */

.buttonFrame .bttnText {
   background: #fd6b54;
}


@media all and (max-width: 950px) and (min-width: 701px){
.buttonFrame.large {
    width: 69%;
}
  
.bttnText {
  font-size:1em;
}

.cyber-text {
  font-size: 0.8em;
  line-height:1.1rem;
  padding: 0 30px;
}
}

@media all and (max-width: 700px){
#buttons1 {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.buttonFrame, .buttonFrame.medium {
  margin-bottom: 0px;
  overflow: hidden;
  width: 49.5%;
  display: inline-block;
}

.buttonFrame.large, .buttonFrame.medium {
  margin-bottom: 0px;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  max-height:150px;
}

.buttonFrame .bttnText span {
  font-size:0.8em;
  padding:10px;
}

.buttonFrame.large {
  min-height:280px !important;
}

.buttonFrame.large .bttnText {
 font-size:0.9em;
  line-height:1.3em;
  padding:20px;
}

.buttonFrame.large .bttnText span {
  font-size:1.2em;
}

.buttonFrame img {
  display:block;
}

}



/*-------------------PICTURES WITH BUTTON SECTION start---------------------*/

#buttons * {
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#buttons {
    
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.butFrame {
  cursor: pointer;
  width: 33.1%;
  overflow: hidden;
  position: relative;
}

.butFrame.medium {
  width: 29.5%;
}

.butFrame.large {
  width: 70%;
}

.butFrame img {
  width: 100%;
  height: auto;
  display: block;
}

.butText {
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 1.3em;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
/*  text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);*/
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.butText span {
  border: 2px solid #fff;
  padding: 10px 25px;
}

.butText .introHeading {
  font-size: 1.5em;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 15px;
  border: 0px;
}

.intro-text {
  font-family: inherit;
  font-size: 1.1em;
  line-height:1.5em;
  text-transform: none;
  padding: 0 50px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.intro-text p {
  display: block;
  width: 100%;
  max-width: 100%;
}

.butText a {
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 25px;
  margin-top: 15px;
}

.butFrame .butText {
   background: rgba(0,0,0,0.3);
}

/* Hover Effects */

.butFrame .butText:hover {
   background: rgba(0,0,0,0.75);
}

@media all and (max-width: 950px) and (min-width: 701px){
.butFrame.large {
    width: 69%;
}
  
.butText {
  font-size:1em;
}

.intro-text {
  font-size: 0.8em;
  line-height:1.1rem;
  padding: 0 30px;
}
}

@media all and (max-width: 700px){
#buttons {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.butFrame, .butFrame.medium {
  margin-bottom: 0px;
  overflow: hidden;
  width: 49.5%;
  display: inline-block;
}

.butFrame.large, .butFrame.medium {
  margin-bottom: 0px;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  max-height:150px;
}

.butFrame .butText span {
  font-size:0.8em;
  padding:10px;
}

.butFrame.large {
  min-height:280px !important;
}

.butFrame.large .butText {
 font-size:0.9em;
  line-height:1.3em;
  padding:20px;
}

.butFrame.large .butText span {
  font-size:1.2em;
}

.butFrame img {
  display:block;
}

}


/* --------------- FOOTER SECTION start ------------------------------------*/

footer{  
  bottom: 10px;
  width: 100%;
  background: #209EBB;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 30px 20px;
}
.box h2{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #209EBB;
}

.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #FF6238;
  top: -10px;
}
.left .content p{
  text-align: justify;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3em;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
  color: black;
}
.left .content .social a i{
  height: 40px;
  width: 40px;  
  background: #FF6238;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

/*.left .content .social a i:hover{
  background: #f12020;
} */

.center .content .fa{
  font-size: 1.4375rem;
  background: #FF6238;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

/* .center .content .fa:hover{
  background: #f12020;
} */

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #fff;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #000000;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #fff;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #fff;
}
.right form input{
  height: 35px;
  color: #000000;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #FF6238;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{  
  color: white;
}

.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #209EBB;
}

.bottom center span{
  color: #fff;
}

.bottom center a{
  color: #fff;
  text-decoration: none;  
}

.bottom center a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

/* --------------- FOOTER SECTION end------------------------------------*/





